<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hp.workpath.sample.accessoryservicesample">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="com.hp.jetadvantage.link.permission.SERVICES_PERMISSION" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="false"
        android:theme="@style/DefaultTheme">

        <activity
            android:name=".MainActivity"
            android:excludeFromRecents="true"
            android:configChanges="keyboard|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.AuthenticationService"
            android:exported="true"
            android:permission="com.hp.jetadvantage.link.permission.SERVICES_PERMISSION">
            <intent-filter>
                <action android:name="com.hp.jetadvantage.link.api.action.AUTHENTICATION" />
            </intent-filter>
        </service>

        <service android:name=".service.AccessoryService"
            android:exported="true"
            android:permission="com.hp.jetadvantage.link.permission.SERVICES_PERMISSION">
            <intent-filter>
                <action android:name="com.hp.jetadvantage.link.api.action.ACCESSORY" />
            </intent-filter>
        </service>

        <activity
            android:name=".AuthenticationActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:exported="true"/>
    </application>

</manifest>
